@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:wght@100..900&display=swap&family=Abril+Fatface&display=swap');

body {
  margin: 0;
  font-family: 'Inter' sans-serif !important;
  color: #303031;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgba(245, 245, 245); */
    background-color: rgb(255, 255, 255);
}

h1,
h2,
h3,
h4,
h5,
p,
small,
span,
div {
  font-family: 'Inter' sans-serif !important;
}

.fatface {
  font-family: "DM Serif Display", serif;
}
.input-area label {
  color: #4f575c;
  font-weight: 400;
  line-height: 2rem;
}

.input-area {
  padding: 10px 0;
}

.logo span {
  font-size: 1.5rem;
  font-weight: 800;
  /* letter-spacing: .2rem; */
  font-family: "Abril Fatface", serif;
  text-transform: lowercase;
}

.logo svg {
  height: 2rem;
  width: 2rem;
  display: none;
}


.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo>span {
  color: #0390FC;
}

.container {
  margin: 0 auto;
}

@media (max-width: 640px) {
  .container {
    padding: 0 20px;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0 25px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 0 100px;
  }
}

@media (min-width: 1280px) {
  .container {
    padding: 0 120px;
  }
}

@media (min-width: 1536px) {
  .container {
    padding: 0 150px;
  }
}

.ant-btn-primary:not([disabled]) {
  background: #2AA0FB !important;
}

.ant-btn-primary:not([disabled]):hover {
  background: #1278c5 !important;
}